<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">

    <title>Child Labor Data</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <style>
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}
li{
    margin-bottom: 15px;
}
li.list-item{
  margin-bottom: 0px;
}
.good-item{
    margin:5px 0;
}
.good-item.labels{
    display: inline-block;
    position: relative;
    background-color: #56A0D3;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    padding: 3px 5px 2px;
    line-height: 20px;
    font-size: 14px;
    margin-right: 5px;
}
.fleft.name{
    min-width: 250px;
}

.circle {
	border-radius: 50%;
  /*border-radius: 5px;*/
	width: 30px;
	height: 30px;
  background-color: #51b4e3;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.circle div{
  margin-top:-14px;
}

.num0{
  display: none;
}

.tabs > li {
  width: 189px;
}
.table.stats th, .table.stats td{
  color: #373737;
  padding: 0 5px;
}
.table.stats td:first-child, .table.stats th:first-child{
  text-align: left;
}
.table.stats td{
  text-align: center;
}
</style>

<div ng-app="android-addressbook">
	<div ng-controller="AddressBook.Init">
	<div class="row main-app">
		<div ng-view></div>
	</div>
	</div>

<script type="text/ng-template" id="list.html">
	<ul class="fixed top full bar topbar tabs two">
		<li class="icon countries active">
			<a href='#/contacts'>Countries</a>
		</li>
		<li class="icon goods">
			<a href='#/contacts/starred'>Goods</a>
		</li>
	</ul>
	<div class="content" id="wrapper">
		<div class="lists" id="scroller">
			<div ng:repeat="group in groups">
				<div class="title fleft full">{{ group.label }}</div>
				<ul class="list single-fill">
					<li class="list-item" ng:repeat="contact in group.contacts">
						<a class="item" href='#/contact/view/{{ contact._id }}'>
							<span class="fleft name">{{ contact.Country }}</span>
              <div class="circle num{{contact.Goods.length}}"><div>{{contact.Goods.length}}</div></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<ul class="fixed bottom full bar bottombar">
		<li class="icon icn left">
			<a href='#/contacts/search'><span class="entypo-search"></span></a>
		</li>
		<li class="icon icn center">
			<a href='#/contact/add'><span class="entypo-user-add"></span></a>
		</li>
	</ul>
</script>



<!--
<script type="text/ng-template" id="starred.html">
	<ul class="fixed top full bar topbar tabs two">
		<li class="icon">
			<a href='#/contacts'><span class="entypo-user"></span></a>
		</li>
		<li class="icon active">
			<a href='#/contacts/starred'><span class="entypo-star"></span></a>
		</li>
	</ul>

	<div class="content" id="wrapper">
		<div id="scroller" class="fleft">
			<div class="lists full">
				<ul class="list single-fill">
					<li class="list-item half" ng:repeat="contact in starred">
						<a class="item profile-image" href='#/contact/view/{{ contact._id }}'>
							<img width="100%" ng-src="{{ ProfileImage('480x480', contact) }}"/>
							<span class="absolute bottom caption">
								<span class="text">{{ contact.Country }}</span>
								<span class="overlay"></span>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="lists">
				<div class="title fleft full">Frequently viewed</div>
				<ul class="list single-fill">
					<li class="list-item" ng:repeat="contact in contacts">
						<a class="item" href='#/contact/view/{{ contact._id }}'>
							<span class="fleft name">{{ contact.Country }}</span>
							<span class="fright image"><img width="60" ng-src="{{ ProfileImage('60x60', contact) }}"/></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<ul class="fixed bottom full bar bottombar">
		<li class="icon icn left">
			<a href='#/contacts/search'><span class="entypo-search"></span></a>
		</li>
		<li class="icon icn center">
			<a href='#/contact/add'><span class="entypo-user-add"></span></a>
		</li>
	</ul>
</script> -->

<script type="text/ng-template" id="search.html">
	<ul class="fixed top full bar topbar">
		<li class="icon icn left">
			<a href='javascript:void(0)' ng-click="Back()"><span class="entypo-left-open-big"></span></a>
		</li>
		<li class="contact-name icn full form">
			<div class="form-item">
				<input placeholder="Find contacts" type="text" id="searchterm" name="searchterm" ng-model="searchterm"/>
				<span class="form-item-decorator"></span>
				<span class="cancel entypo-cancel-circled" ng-show="searchterm" ng-click="searchterm=''"></span>
			</div>
		</li>
	</ul>

	<div class="content no-bottombar" id="wrapper">
		<div class="lists" id="scroller">
			<div ng:repeat="group in groups">
				<div class="title fleft full">{{ group.label }}</div>
				<ul class="list single-fill">
					<li class="list-item" ng:repeat="contact in group.contacts | filter:searchterm">
						<a class="item" href='#/contact/view/{{ contact._id }}'>
							<span class="fleft name">{{ contact.Country }}</span>
							<span class="fright image"><img width="60" ng-src="{{ ProfileImage('60x60', contact) }}"/></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</script>




<script type="text/ng-template" id="view.html">
	<ul class="fixed top full bar topbar">
		<li class="icon icn left">
			<a href='javascript:void(0)' ng-click="Back()"><span class="entypo-left-open-big"></span></a>
		</li>
		<li class="contact-name icn full" ng-bind="FullName()"></li>
		<li class="icon icn right sec">
			<a href='javascript:void(0)'><span ng-click="StarUnStar()" ng-class="{'entypo-star': contact.starred, 'entypo-star-empty': !contact.starred}"></span></a>
		</li>
		<li class="icon icn right" ng-click="_submenu()" ng-class="{'show-submenu': submenu}">
			<a href='javascript:void(0)'><span class="entypo-pencil"></span></a>
			<ul class="submenu">
				<li>
					<a href='#/contact/edit/{{ contact._id }}'>edit</a>
				</li>
				<li>
					<a href='javascript:void(0)' ng-click="DeleteContact()">delete</a>
				</li>
			</ul>
		</li>
	</ul>

	<div class="content no-bottombar" id="wrapper">
		<div class="lists fleft" id="scroller">

        <h3>{{ contact.Country }}</h3>

		<table class="table stats">
      <thead>
        <tr>
          <th>Good name</th>
          <th>Child Labor</th>
          <th>Forced Child Labor</th>
          <th>Forced Labor</th>
        </tr>
      </thead>
      <tbody>
        <tr ng:repeat="item in contact.Goods">
          <td>{{item.Good_Name}}</td>
          <td>{{item.Child_Labor}}</td>
          <td>{{item.Forced_Child_Labor}}</td>
          <td>{{item.Forced_Labor}}</td>
        </tr>
      </tbody>
    </table>

		</div>
	</div>
</script>


</div>
    <script src="http://test.asaquattrocento.it/cargo/codepen.js"></script>


        <script src="js/index.js"></script>

  </body>
</html>
