<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">

    <title>Child Labor Data</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <style>
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}
</style>

<div ng-app="android-addressbook">
	<div ng-controller="AddressBook.Init">
	<div class="row main-app">
		<div ng-view></div>
	</div>
	</div>

<script type="text/ng-template" id="list.html">
	<ul class="fixed top full bar topbar tabs two">
		<li class="icon countries active">
			<a href='#/contacts'>Countries</a>
		</li>
		<li class="icon goods">
			<a href='#/contacts'>Goods</a>
		</li>
    <li class="icon adv">
			<a href='#/contacts'>Advancement Level</a>
		</li>
	</ul>
	<div class="content" id="wrapper">
		<div class="lists" id="scroller">
			<div ng:repeat="group in groups">
				<div class="title fleft full">{{ group.label }}</div>
				<ul class="list single-fill">
					<li class="list-item" ng:repeat="contact in group.contacts">
						<a class="item" href='#/contact/view/{{ contact._id }}'>
							<span class="fleft name">{{ contact.Country }}</span>
              <div class="circle num{{contact.Goods.length}}"><div>{{contact.Goods.length}}</div></div>
              <div class="adv-lvl"><div class="label {{contact.Advancement_Level.split(' ').join('-')}}">{{contact.Advancement_Level}}</div></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<ul class="fixed bottom full bar bottombar">
		<li class="icon icn left">
			<a href='#/contacts/search'><span class="entypo-search"></span></a>
		</li>
	</ul>
</script>

<script type="text/ng-template" id="search.html">
	<ul class="fixed top full bar topbar">
		<li class="icon icn left">
			<a href='javascript:void(0)' ng-click="Back()"><span class="entypo-left-open-big"></span></a>
		</li>
		<li class="contact-name icn full form">
			<div class="form-item">
				<input placeholder="Find contacts" type="text" id="searchterm" name="searchterm" ng-model="searchterm"/>
				<span class="form-item-decorator"></span>
				<span class="cancel entypo-cancel-circled" ng-show="searchterm" ng-click="searchterm=''"></span>
			</div>
		</li>
	</ul>

	<div class="content no-bottombar" id="wrapper">
		<div class="lists" id="scroller">
			<div ng:repeat="group in groups">
				<div class="title fleft full">{{ group.label }}</div>
				<ul class="list single-fill">
					<li class="list-item" ng:repeat="contact in group.contacts | filter:searchterm">
						<a class="item" href='#/contact/view/{{ contact._id }}'>
							<span class="fleft name">{{ contact.Country }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</script>




<script type="text/ng-template" id="view.html">
	<ul class="fixed top full bar topbar">
		<li class="icon icn left">
			<a href='javascript:void(0)' ng-click="Back()"><span class="entypo-left-open-big"></span></a>
		</li>

	</ul>

	<div class="content no-bottombar" id="wrapper">
		<div class="lists fleft" id="scroller">

        <h3>{{ contact.Country }} <div class="label {{slug}}">{{contact.Advancement_Level}}</div></h3>
        <p>{{contact.Description}}</p>
        <hr />
    <div class="row">
      <div class="lefty">
      <div class="title">Stats</div>
        <div class="bold">Children Working and Studying (7-14 yrs old)</div>
        <div>Age Range: {{contact["Children Working and Studying (7-14 yrs old)"][0]["Age_Range"]}}</div>
        <div>Year: {{contact["Children Working and Studying (7-14 yrs old)"][0]["Year"]}}</div>

        <div class="bold">Childrens Work Statistics</div>
        <div>Age Range: {{contact["Children\'s Work Statistics"][0]["Age_Range"]}}</div>
        <div>Total Percentage: {{contact["Children\'s Work Statistics"][0]["Total_Percentage_of_Working_Children"]}}</div>
        <div>Year: {{contact["Children\'s Work Statistics"][0]["Year"]}}</div>

        <div class="bold">Education Statistics: Attendance Statistics</div>
        <div>Age Range: {{contact["Education Statistics: Attendance Statistics"][0]["Age_Range"]}}</div>
        <div>Total Percentage: {{contact["Education Statistics: Attendance Statistics"][0]["Percentage"]}}</div>
        <div>Year: {{contact["Education Statistics: Attendance Statistics"][0]["Year"]}}</div>
      </div>

		<table ng-if="contact.Goods.length > 0" class="table stats lefty">
    <div class="title">Goods</div>
      <thead>
        <tr>
          <th>Good name</th>
          <th>Child Labor</th>
          <th>Forced Child Labor</th>
          <th>Forced Labor</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in contact.Goods">
          <td>{{item.Good_Name}}</td>
          <td><div class="stat{{item.Child_Labor}}"></div></td>
          <td><div class="stat{{item.Forced_Child_Labor}}"></div></td>
          <td><div class="stat{{item.Forced_Labor}}"></div></td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="block" ng-if="contact.t2">
            <h3 class="title">{{contact.t2.title}}</h3>
            <div>{{contact.t2.summary}}</div>
            <div class="bold">Standards</div>

        <div class="correct-size" ng-repeat="standard in contact.t2.standards">
          <div class="card">

            <div class="card-title">
              <div class="title-sect {{standard.enacted}}">{{standard.title}}</div>
              <div class="label enacted" ng-if="standard.enacted === 'Yes'">
                Enacted
              </div>
              <div class="label not-enacted" ng-if="standard.enacted === 'No'">
                Not Enacted
              </div>
            </div>

            <div class="card-body">
              <div class="test{{standard.age.length}}">Age: <span>{{standard.age || "N/A"}}</span></div>
              <div class="test{{standard.related_legislation.sources.length}}">Sources: <span>{{standard.related_legislation.sources || "N/A"}}</span></div>
              <div class="test{{standard.related_legislation.sources.length}}">Legislation: <span>{{standard.related_legislation.legislation || "N/A"}}</span></div>
            </div>

          </div>
        </div>

        <div ng-if="contact.t2.notes.length > 0">
          <div style="overflow:auto;width:100%;display:block;">Notes:
          <span ng-repeat="note in contact.t2.notes">
            {{note.symbol}}{{note.text}}
          </span>
          </div>
        </div>
        <div ng-if="contact.t2.notes.length === 0">
          <div style="overflow:auto;width:100%;display:block;"></div>
        </div>

    </div>
    <div ng-if="!(contact.t2)">
      <div class="title">Laws and Regulations Related to Child Labor</div>
      <p class="test"><span>No information provided</span></p>
    </div>

    <div class="block t7" ng-if="contact.t7">

      <div class="title">{{contact.t7.title}}</div>
      <div>{{contact.t7.summary}}</div>
      <div class="bold">Areas</div>

      <div ng-repeat="area in contact.t7.areas">
        <div class="card area">

          <div class="card-title">
            {{area.area}}
          </div>

          <div ng-repeat="act in area.actions" class="card-body">
          <div class="title">{{act.years}}</div>
            {{act.action}}
          </div>

        </div>
      </div>

      <div ng-if="contact.t7.notes.length > 0">
        Notes:
        <span ng-repeat="note in contact.t7.notes">
          {{note.symbol}}{{note.text}}
        </span>
      </div>

    </div>
    <div ng-if="!(contact.t7)">
      <div class="title">Suggested Government Actions to Eliminate Child Labor, Including its Worst Forms</div>
      <p class="test"><span>No information provided</span></p>
    </div>

		</div>
	</div>
</script>


</div>
    <!-- <script src="http://test.asaquattrocento.it/cargo/codepen.js"></script> -->

        <script src="js/iscroll.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/index.js"></script>

  </body>
</html>
